.dndZone {
    margin-top: 10px;
}

.thumbsContainer {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    margin-top    : 16px;
}

.thumb {
    display      : inline-flex;
    border-radius: 2px;
    margin-bottom: 8px;
    margin-right : 8px;
    width        : 100px;
    height       : 100px;
    padding      : 4px;
    box-sizing   : border-box;
}

.thumbInner {
    display  : flex;
    min-width: 0;
    overflow : hidden;
}

.img {
    display      : block;
    width        : auto;
    height       : 100%;
    border-radius: 50%;
}

.progressBar {
    position          : absolute;
    top               : 0;
    left              : 0;
    padding           : 0;
    width             : 100%;
    height            : 4px;
    //border  : none;
    /* Установка основных свойств прогресс бара */
    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;

    /* Стилизация для Chrome, Safari, новых версий Opera */
    &::-webkit-progress-bar {
        background-color: #eee;
        /* Цвет фона */
    }

    &::-webkit-progress-value {
        background-color: yellow;
        /* Цвет заполнения */
    }

    /* Стилизация для Firefox */
    &::-moz-progress-bar {
        background-color: yellow;
        /* Цвет заполнения */
    }

    /* Для IE10+ */
    &::-ms-fill {
        background-color: yellow;
        /* Цвет заполнения */
        border          : none;
        /* Убираем границу */
    }
}