@import '../../index.less';

.header {
  .flexLayout(space-between);
  padding         : 20px;
  margin          : 10px 0 0 0;
  background-color: @header-bgColor ;
  border-radius   : 30px;

  //-- используется alias путь @images --//
  .logo {
    background-image: url('@images/logo2.png');
    background-size : cover;
    .widthHeightBlock(50px, 50px)
  }
}
