@font-face {
    font-family: 'Montserrat';
    src        : url('./vendor/fonts/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Montserrat';
    src        : url('./vendor/fonts/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style : normal;
}

@font-face {
    font-family: 'Montserrat';
    src        : url('./vendor/fonts/static/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style : normal;
}

@baseColor: red;

.fontMixin(@weight: normal, @style: normal) {
    font-family: 'Montserrat', sans-serif;
    font-weight: @weight;
    font-style : @style;
}

.baseBoxParametric(@width: 100px, @height: 100px) {
    width : @width;
    height: @height;
}